

.gallery {
list-style-type: none;
display: flex;
width: 1440px;
height: 696px;
flex-wrap: wrap;
justify-content: center;
align-content: center;
row-gap: 24px;
column-gap: 24px;
margin: auto;
padding: 0;
}

.feedback-form {
margin-top: 30px;
}

label {
display: block;
margin-bottom: 10px;
font-weight: bold;
}

input, textarea {
display: flex;
width: 360px;
height: 80px;
justify-content: center;
align-items: center;
}

.gallery-item {

}

.gallery-link {

}

.gallery-image {
  
}